In [31]:
# Import the required libraries and dependencies
import numpy as np
import pandas as pd
from pathlib import Path

# Read in the Electricty Data by County CSV
ca_electricity_usage_df = pd.read_csv(
    Path("/Users/erahm/Downloads/ElectricityByCounty (2).csv"),
    parse_dates=True,
    infer_datetime_format=True)
    
# Read in the Annual Price Data by State CSV
avg_price_annual_df = pd.read_csv(
    Path("/Users/erahm/Downloads/avgprice_annual.csv"),
    parse_dates=True,
    infer_datetime_format=True)

In [16]:
# Read in CSV in Pandas DataFrame
ca_electricity_usage_df

             County       Sector          2020   Total Usage
0           ALAMEDA  Residential   3308.467553   3308.467553
1            ALPINE  Residential     10.244564     10.244564
2            AMADOR  Residential    151.826812    151.826812
3             BUTTE  Residential    736.395940    736.395940
4         CALAVERAS  Residential    222.260763    222.260763
5            COLUSA  Residential     73.250484     73.250484
6      CONTRA COSTA  Residential   3214.267766   3214.267766
7         DEL NORTE  Residential    118.510243    118.510243
8         EL DORADO  Residential    820.014926    820.014926
9            FRESNO  Residential   3101.806814   3101.806814
10            GLENN  Residential    105.432658    105.432658
11         HUMBOLDT  Residential    382.927203    382.927203
12         IMPERIAL  Residential    651.747098    651.747098
13             INYO  Residential     62.663178     62.663178
14             KERN  Residential   2637.974063   2637.974063
15            KINGS  Residential    432.346131    432.346131
16             LAKE  Residential    309.664202    309.664202
17           LASSEN  Residential    105.184944    105.184944
18      LOS ANGELES  Residential  22913.103098  22913.103098
19           MADERA  Residential    485.135286    485.135286
20            MARIN  Residential    700.288697    700.288697
21         MARIPOSA  Residential     75.414294     75.414294
22        MENDOCINO  Residential    301.931564    301.931564
23           MERCED  Residential    817.630101    817.630101
24            MODOC  Residential     58.601449     58.601449
25             MONO  Residential     92.268625     92.268625
26         MONTEREY  Residential    728.953649    728.953649
27             NAPA  Residential    396.383550    396.383550
28           NEVADA  Residential    484.046360    484.046360
29           ORANGE  Residential   7765.257819   7765.257819
30           PLACER  Residential   1608.041582   1608.041582
31           PLUMAS  Residential    100.147976    100.147976
32        RIVERSIDE  Residential   8843.231701   8843.231701
33       SACRAMENTO  Residential   5160.932169   5160.932169
34       SAN BENITO  Residential    144.989779    144.989779
35   SAN BERNARDINO  Residential   6102.925598   6102.925598
36        SAN DIEGO  Residential   7387.046267   7387.046267
37    SAN FRANCISCO  Residential   1563.597203   1563.597203
38      SAN JOAQUIN  Residential   2115.736915   2115.736915
39  SAN LUIS OBISPO  Residential    684.754544    684.754544
40        SAN MATEO  Residential   1651.906843   1651.906843
41    SANTA BARBARA  Residential    837.127938    837.127938
42      SANTA CLARA  Residential   4392.364209   4392.364209
43       SANTA CRUZ  Residential    569.998068    569.998068
44           SHASTA  Residential    771.225097    771.225097
45           SIERRA  Residential     13.420835     13.420835
46         SISKIYOU  Residential    235.549566    235.549566
47           SOLANO  Residential   1191.820607   1191.820607
48           SONOMA  Residential   1346.565909   1346.565909
49       STANISLAUS  Residential   2014.983126   2014.983126
50           SUTTER  Residential    314.625861    314.625861
51           TEHAMA  Residential    263.760993    263.760993
52          TRINITY  Residential     10.566031     10.566031
53           TULARE  Residential   1479.691778   1479.691778
54         TUOLUMNE  Residential    225.817354    225.817354
55          VENTURA  Residential   2023.027695   2023.027695
56             YOLO  Residential    590.156247    590.156247
57             YUBA  Residential    251.861806    251.861806

In [35]:
# Read in CSV in Pandas DataFrame
avg_price_annual_df

,Year,State,Industry Sector Category,Residential,Commercial,Industrial,Transportation,Other,Total
1,2020,AK,Total Electric Industry,22.57,19.58,15.88,0.00,NaN,19.82
2,2020,AL,Total Electric Industry,12.58,11.55,5.87,0.00,NaN,9.84
3,2020,AR,Total Electric Industry,10.41,8.61,5.89,13.32,NaN,8.32
4,2020,AZ,Total Electric Industry,12.27,10.11,6.07,9.38,NaN,10.44
5,2020,CA,Total Electric Industry,20.45,17.53,14.27,10.07,NaN,18.00
...,...,...,...,...,...,...,...,...,...
4601,1990,WA,Full-Service Providers,4.39,4.15,2.39,NaN,3.13,3.40
4602,1990,WI,Full-Service Providers,6.63,5.78,3.99,NaN,6.47,5.37
4603,1990,WV,Full-Service Providers,5.90,5.36,3.56,NaN,8.19,4.73
4604,1990,WY,Full-Service Providers,5.97,5.17,3.47,NaN,7.90,4.21
4605,1990,US,Full-Service Providers,7.83,7.34,4.74,NaN,6.40,6.57

In [34]:
# Filter Annual Energy Prices DataFrame by 'California'
avg_price_annual_df.loc[avg_price_annual_df['State'] == 'CA']

,Year,State,Industry Sector Category,Residential,Commercial,Industrial,Transportation,Other,Total
5,2020,CA,Total Electric Industry,20.45,17.53,14.27,10.07,NaN,18.00
57,2020,CA,Full-Service Providers,19.84,17.36,14.80,14.43,NaN,17.86
105,2020,CA,Restructured Retail Service Providers,22.41,17.89,12.90,6.14,NaN,18.35
126,2020,CA,Energy-Only Providers,7.99,6.70,5.89,4.25,NaN,6.95
147,2020,CA,Delivery-Only Service,14.42,11.19,7.02,1.89,NaN,11.40
...,...,...,...,...,...,...,...,...,...
4350,1992,CA,Full-Service Providers,11.07,10.33,7.59,NaN,5.54,9.66
4402,1991,CA,Total Electric Industry,10.79,10.04,7.58,NaN,5.05,9.42
4454,1991,CA,Full-Service Providers,10.79,10.04,7.58,NaN,5.05,9.42
4506,1990,CA,Total Electric Industry,9.98,9.46,7.28,NaN,4.53,8.84
4558,1990,CA,Full-Service Providers,9.98,9.46,7.28,NaN,4.53,8.84

In [36]:
# Check for any null values
avg_price_annual_df.isnull().sum()

0
Year                           0
State                          0
Industry Sector Category       0
Residential                    0
Commercial                     0
Industrial                     0
Transportation              1607
Other                       2998
Total                          0
dtype: int64

In [37]:
# Store the 'Residental'column in its own DataFrame
ca_residential_energy_prices_2020 = avg_price_annual_df[['Residential']].copy()
ca_residential_energy_prices_2020

0    Residential
1          22.57
2          12.58
3          10.41
4          12.27
5          20.45
...          ...
4601        4.39
4602        6.63
4603        5.90
4604        5.97
4605        7.83

[4605 rows x 1 columns]